<img src="/avatar.jpeg" alt="Esra Kashaninia Photo" class="profile-pic" />
<div class="info">
  <h2>Esra Kashaninia</h2>
  <p>Bioinformatics M.Sc. student @ Sharif University of Technology</p>
  <div class="social-icons">
    <a
      href="mailto:esra.kashaninia@ce.sharif.edu"
      target="_blank"
      aria-label="Email"
    >
      <i class="fa-solid fa-envelope"></i>
    </a>
    <a href="https://github.com/Esra-K/" target="_blank" aria-label="GitHub">
      <i class="fa-brands fa-github"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/esra-kashaninia/"
      target="_blank"
      aria-label="LinkedIn"
    >
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a
      href="https://scholar.google.com/citations?user=T2yyr64AAAAJ&hl=en"
      target="_blank"
      ><i class="ai ai-google-scholar"></i
    ></a>
    <a href="/Esra-K-CV.pdf" target="_blank" title="Download CV">
      <i class="fas fa-file-alt"></i>
    </a>
  </div>
</div>

<nav class="sidebar-nav" id="dynamic-nav">
  <!-- Navigation links will be generated here -->
</nav>
